body{
  text-align: center;
}

#timer{
  color: red;
  font-size: 30px;
}

#en-word{
  font-size: 30px;
  letter-spacing: 0.1em;
}

#jp-word{
  font-size: 35px;
  letter-spacing: 0.1em;
}

button{
  padding: 20px;
  font-size: 25px
}

